.app {
  height: 100vh;
  width: 100vw;
  background-color: rgb(105, 132, 182);
  display: grid;
  place-items: center;
}

.black {
  background: #769656;
}
.white {
  background: #EEEED2;
}

.board{
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  width: max-content;
  height: max-content;
  background: rgb(137, 172, 140);
}

div#root {
  text-align: center!important;
}