.app {
  height: 100vh;
  width: 100vw;
  background-color: rgb(105, 132, 182);
  display: grid;
  place-items: center;
}

.black {
  background: #769656;
}
.white {
  background: #EEEED2;
}

.board{
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  width: 700px;
  height: 800px;
  background: black;
}